spring:
  application:
    name: InsightNote

  profiles:
    group:
      blue: blue, oauth
      green: green, oauth
      default: oauth

  config:
    import: optional:file:.env[.properties]

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}

  sql:
    init:
      mode: always

  jpa:
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: update
      default_batch_fetch_size: 100
    defer-datasource-initialization: true

  cloud:
    aws:
      s3:
        credentials:
          accessKey: ${AWS_S3_ACCESSKEY}
          secretKey: ${AWS_S3_SECRETKEY}
        bucket: ${AWS_S3_BUCKET}
      region:
        static: ${AWS_REGION}
      stack:
        auto: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_ADDRESS}
    password: ${GMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  data:
    redis:
      cluster:
        nodes: ${REDIS_CLUSTER_NODES}

  jwt:
    secret: ${JWT_SECRET}

kakao:
  api:
    cid: TC0ONETIME
    admin-key: ${KAKAO_API_KEY}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

environment:
  - SPRING_PROFILES_ACTIVE=${PROFILES}
